body{
    
    background-color: #000000;
    
    height: 4000px; /* Used to enable scrolling */
    background: linear-gradient(0deg, #32e0ff 15%, #ffffff,  #3a3a3a 55%, #000000 73%);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
table.top{
    width: auto;
    border-spacing: 3px;
    padding-top: 5px;
}
table.top  td{
    border-collapse: collapse; 
    border: solid 2px;
    border-color: white; 
    padding-left: 15px;
    padding-right: 15px;
}
table.top  td:hover{
    background-color: rgb(255, 253, 253, 0.4);
}
.imgshyt{
    width: 100%;
    display: inline;
}
.imgshyt img{
    width: 20%;
    padding: 2.3%;
    height: auto;
}
a{
    color: white;
}